@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.contacts-text {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.contacts-phone {
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.header {
  background-color: #635854;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
}

.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-contacts {
  text-align: right;
}
.navbar-contacts-text {
  color: #fff;
}

.navbar-contacts-phone {
  color: #fff;
}

.main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-top: 54px;
}

.main-image {
  margin-bottom: 100px;
}

.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 170px;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}

.main-title {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 37px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #635854;
}

.floor-counter {
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 124px;
  font-weight: 400;
  color: #635854;
}

.button-primary {
  color: #fff;
  background: #3596f5;
  border-radius: 6px;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
  /* margin-bottom: 70px; */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  width: 60%;
  background-color: #ebebeb;
  text-align: center;
  padding: 30px;
}

.modal-title {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 25px;
}

.flats path {
  opacity: 0;
}

.flats path:hover {
  opacity: 1;
  cursor: pointer;
}

.modal-info {
  width: 40%;
  padding: 50px 46px;
}

.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.flat-item:not(:last-child) {
  margin-bottom: 10px;
}

.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link-active {
  text-decoration-line: underline;
  color: #3596f5;
}

path.current-flat {
  opacity: 1;
}

.modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

.modal-close-button {
  position: absolute;
  right: 27px;
  top: 38px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.footer {
  border-top: 4px solid #3596f5;
  background: #d7d7d7;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 170px;
  max-width: 1200px;
  margin: auto;
}

.footer-contacts {
  text-align: left;
}
.footer-contacts-text {
  color: #635854;
}

.footer-contacts-phone {
  color: #635854;
}

.social-media-link {
  text-decoration: none;
}

.social-media-link:not(:last-child) {
  margin-right: 15px;
}

.footer-menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.footer-links-item:not(:last-child) {
  margin-right: 20px;
}

.footer-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}
